@{
    ViewData["Title"] = "Anasayfa";
}

<div class="row mt-5">
    <div class="col-md-6 bg-light rounded-lg">
        <form class="m-3">
            <div class="form-group">
                <h4>Uçak Biletim</h4>
            </div>
            <div class="form-group">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="tekYonRadio" value="TekYon">
                    <label class="form-check-label" for="tekYonRadio">Tek Yön</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="gidisDonusRadio" value="GidisDonus">
                    <label class="form-check-label" for="gidisDonusRadio">Gidiş Dönüş</label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="nereden">Nereden</label>
                        <input type="text" class="form-control" id="nereden" placeholder="Nereden">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="nereye">Nereye</label>
                        <input type="text" class="form-control" id="nereye" placeholder="Nereye">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="gidisTarihi">Gidiş Tarihi</label>
                        <input type="date" class="form-control" id="gidisTarihi">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="donusTarihi">Dönüş Tarihi</label>
                        <input type="date" class="form-control" id="donusTarihi">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <button type="submit" class="btn btn-block btn-secondary">Uçak Bileti Ara</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
